@use '../abstracts' as *;

.auth-container {
	position: relative;
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 0.5rem 1rem;

	img {
		border-radius: 50%;
		transition: .1s ease-out;
		cursor: pointer;

		&:hover {
			transform: scale(110%);
		}
	}

	nav {
		position: absolute;
		bottom: 0;
		right: 0;
		transform: translateY(100%);
		visibility: hidden;
		display: flex;
		flex-direction: column;
		border: 1px solid $borderColor;
		border-radius: 10px;

		&.open {
			visibility: visible;
		}

		* {
			padding: 0.8rem 2rem;
			text-align: center;
			transition: background-color .2s ease-out;

			&.logout {
				background-color: $logoutButton;
			}

			&:hover {
				background-color: $menuButtonHover;
			}

			&:not(:last-child){
				border-bottom: 1px solid $borderColor;
			}

			&:first-child{
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
			}

			&:last-child{
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
			}
		}
	}
}