.button {
	color: black;
	font-weight: 500;
	background-color: #fff;
	padding: 0.5rem 1rem;
	border-radius: 7px;
	transition: .1s ease-out;

	&:hover {
		transform: scale(110%);
	}
}

span.link {
	cursor: pointer;
}