@use '../abstracts' as *;

.button {
	display: block;
	color: black;
	font-weight: 500;
	background-color: $buttonColor;
	padding: 0.5rem 1rem;
	border-radius: 7px;
	transition: .1s ease-out;
	border: none;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	
	&:hover {
		transform: scale(110%);
	}
}

span.link {
	cursor: pointer;
}