@use '../abstracts' as *;

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;//repeat(3, minmax(25%, auto));
	max-width: 100%;
	gap: 5rem;
	justify-items: stretch;
	align-items: stretch;
}

.card {
	padding: 1rem 1.2rem;
	transition: transform 200ms;
	background-color: $cardColor;
	border-radius: 1rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	& h2 {
		font-weight: 600;
		margin-bottom: 0.7rem;
	}
	
	& p {
		margin: 0;
		opacity: 0.6;
		font-size: 0.9rem;
		line-height: 1.5;
		max-width: 30ch;
	}
	
	& img {
		margin: 1rem;
		align-self: center;
	}

	/* Enable hover only on non-touch devices */
	@media (hover: hover) and (pointer: fine) {
		&:hover {
			transform: scale(110%);
		}
	}
	
	@media (prefers-reduced-motion) {
		&:hover span {
			transform: none;
		}
	}
}

/* Mobile */
@media (max-width: 700px) {
	.content {
		padding: 4rem;
	}

	.grid {
		grid-template-columns: 1fr;
		margin-bottom: 120px;
		max-width: 320px;
		text-align: center;
	}

	.card {
		padding: 1rem 2.5rem;

		& h2 {
			margin-bottom: 0.5rem;
		}
	}
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
	.grid {
		grid-template-columns: repeat(2, 50%);
	}
}