@use './abstracts' as *;
@use './base';
@use './layout';

$border-radius: 12px;

body {
	min-height: 100vh;
	background-color: $backgroundColor;
}

section {
	width: 100%;
	margin-bottom: 3rem;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-inline: 6rem;
}


